<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <bean class="quoters.InjectRandomIntAnnotationBeanPostProcessor"/>

    <bean id="integerFactory2" class="quoters.IntegerFactory2"/>

    <bean id="integer2" class="java.lang.Integer" factory-bean="integerFactory2" factory-method="getInt"/>


    <bean id="anotherQuoter" class="java.lang.String">
        <constructor-arg value="astalavista baby"/>
    </bean>


    <bean id="integer" class="quoters.IntegerFactory">
        <constructor-arg value="5"/>
    </bean>



    <context:component-scan base-package="quoters"/>

    <bean class=" quoters.TransactionalAnnotationBeanPostProcessor"/>
    <bean class="quoters.BenchmarkAnnotationBeanPostProcessor"/>
    <bean class="quoters.BeanDefinitionAnalyzerBeanFactoryPostProcessor"/>
    <bean class="quoters.DeprecatedReplacerBeanFactoryPostProcessor"/>

    <context:property-placeholder location="classpath:quotes.properties,file://prod//prod.properties" ignore-resource-not-found="true"/>



    <bean id="talkingRobot" class="quoters.TalkingRobotImpl">
        <constructor-arg name="quoters">
            <list>
                <ref bean="shakespearQuoter"/>
                <ref bean="terminatorQuoter"/>
            </list>
        </constructor-arg>
    </bean>
    <bean id="terminatorQuoter" class="quoters.TerminatorQuoter" destroy-method="killAll">
        <property name="messages">
            <list>
                <value>I'll be back</value>
                <ref bean="anotherQuoter"/>
                <value>Come with me if you want to live</value>
            </list>
        </property>
    </bean>
    <bean id="shakespearQuoter" class="quoters.ShakespearQuoter">
        <property name="message" value="${shake}"/>
    </bean>


</beans>