<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <bean class="quoters.InjectRandomIntAnnotationBeanPostProcessor"/>

    <bean id="integerFactory2" class="quoters.IntegerFactory2"/>

    <bean id="integer2" class="java.lang.Integer" factory-bean="integerFactory2" factory-method="getInt"/>



    <bean class="java.awt.Color" init-method="brighter">
        <constructor-arg index="0" type="java.awt.color.ColorSpace" ref=""/>
        <constructor-arg index="1" type="float[]">
            <list>
                <value></value>
            </list>
        </constructor-arg>
        <constructor-arg index="2" type="float" value=""/>
    </bean>



    <context:component-scan base-package="quoters"/>





</beans>